.Modal{
    position: fixed;
    top: 0;
    left: 0;
    margin: 10% 1% 1% 1%;
    width: 98%;
    height: 78%;
    background-color: rgba(39, 39, 39, 0.774);
    z-index: 51;
    overflow: hidden;
}